# Build Folders
bin/
obj/
out/

# Visual Studio / IDE
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Logs e arquivos temporários
*.log
*.tmp
*.temp
*.DS_Store

# Pacotes
*.nupkg
packages/
*.snupkg

# Arquivos gerados pelo sistema
*.class
*.jar
*.war
*.dll
*.exe

# Node/npm (se tiver frontend)
node_modules/
npm-debug.log

# Configs locais
.env